form(action=`/home/${user.userid}/edit?_method=PUT`, method='POST')
    p #{user.userid}
        input(type="text", name="userid", placeholder="New Userid here")
        br

    p #{user.email}
        input(type="text", name="email", placeholder="update your email here")
        br

    p Update your password here:
        input(type="text", name="password", placeholder="update your password here")
        br

    button Edit 

